<% content_for :content_header  do %>
  <section class="content-header">
    <h1>New <small>user</small></h1>

    <ol class="breadcrumb">
      <li><a href="/app/assets/images"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "users", users_path %></li>
      <li class="active">New</li>
    </ol>
  </section>
<% end %>

<%= render 'form' %>
