<% content_for :content_header  do %>
  <section class="content-header">
    <h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <%= translate("home") %></a></li>
        <li><%= link_to translate("product"), products_path %></li>
        <li class="active"><%= translate("edit") %></li>
      </ol>
    </h1>
  </section>
<% end %>

<%= render 'form' %>
